.container {
    height: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: center;
    z-index: 10;
    border-radius: 10px;
    overflow: hidden
}
.container2 {
    height: 10px;
    width: 75%;
    overflow: hidden;
    align-self: center;
    position: relative
}
.title {
    font-size: 2rem;
    font-family: PoppinsMedium;
    z-index: 6;
    margin-top: 3px
}
.touchable {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    z-index: 10
}

.button {
    width: 80%;
    max-width: 500px;
    margin: auto;
}