.login_container {
    background-color: #131520;
    flex: 1;
    height: 100vh;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    min-width: 400px;
}
.login_pressable {
    border-width: 2px;
    border-radius: 100px;
    width: 300px;
    height: 60px;
    justify-content: center;
    margin-top: 20px;
    flex-direction: row;
    align-items: center;
    background-color: white;
    overflow: hidden
}
.text {
    color: white;
    font-family: Poppins;
    width: 85%;
    align-self: center;
    text-align: center;
    font-size: 15px
}
.image {
    height: 60px;
    width: 20px;
    align-self: center
}
.textinput {
    background-color: #1E2132;
    border: none;
    outline: none;
    border-radius: 0px;
    padding: 10px;
    align-self: center;
    font-family: Poppins;
    font-size: 1rem;
    color: white;
    width: 90%;
    display: flex;
    margin: auto
}

.textinput:focus-visible {
    outline: none;
}

.input_container {
    background-color: #1E2132;
    border-radius: 10px;
}

.label_false {
    color: white;
    font-size: 0.75rem;
    font-family: Poppins;
    animation-name: "hide_label";
    animation-duration: 500ms;
    opacity: 0;
}

.label_true {
    color: white;
    font-size: 0.75rem;
    font-family: Poppins;
    animation-name: "show_label";
    animation-duration: 500ms;
}

@keyframes show_label{
    from {opacity: 0; transform: translate(0,10px);}
    to {opacity: 1; transform: translate(0,0);}
}

@keyframes hide_label{
    from {opacity: 1; transform: translate(0,0);}
    to {opacity: 0; transform: translate(0,10px);}
}

.touchable {
    align-items: center
}
.icon {
    color: white;
    font-size: 2rem;
    font-family: Poppins;
    margin-vertical: 10px
}

.toggle_link {
    color: #0080FF;
    cursor: pointer;
    text-align: right;
}

.toggle_link:hover {
    text-decoration: underline;
}

input[type=range] {
    -webkit-appearance: none;
    width: 200px;
    background: transparent;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #1E2132 inset !important;
}

input[type=range] {
    -webkit-appearance: none;
    width: 200px;
    background-color: transparent;
}