container {
    background-color: #1E2132;
    background-color: rgb(30, 33, 50);
    background-color: #409FFF;
    background-color: rgb(64, 159, 255);
    background-color: #131520;
    background-color: rgb(19, 21, 32);
    background-color: #484F78;
    background-color: #F2338C;
    background-color: rgb(242, 51, 140);
    background-color: #484F78;
    background-color: rgb(72, 79, 120);
    background-color: #1E1E1E;
    background-color: #1E1E1E;
    background-color: #1E1E1E;
}