container {
    background-color: #1E2132;
    background-color: #0080FF;
    background-color: #131520;
    background-color: #484F78;
    background-color: #0782e1c9;
    background-color: #1E1E1E;
    background-color: #1E1E1E;
    background-color: #1E1E1E;
    background-color: #1E1E1E;
    background-color: #1E1E1E;
}